@media screen and (min-device-width: 1368px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
.MainContainer{
  background-color: mintcream;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto; /*0.2 1 6 0.4*/
  grid-template-areas:
  "_1 _1 _1 _1 _1"
  "_2 _2 _2 _2 _2"
  "_3 _3 _3 _3 _3"
  "_4 _5 _6 _7 _8";
  }
  .TopText{
    grid-area: _1;
  }
  .AverageText{
    grid-area: _2;
  }
  .CenterImg{
    grid-area: _3;
  }

  .Text1{
    font-family: 'GT Cinetype Trial';
    text-align: center;
    font-size: 14px;
    color: #50735F;
  }
  .Text2{
    font-family: 'Linotype Didot Std';
    font-size: 46px;
    text-align: center;
    color: #50735F;
  }
  .DopImg{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 80%;
  }
  .Button_1{
    grid-area: _4;
  }
  .Button_2{
    grid-area: _5;
  }
  .Button_3{
    grid-area: _6;
  }
  .Button_4{
    grid-area: _7;
  }
  .Button_5{
    grid-area: _8;
  }

  .Button1{
    font-size: 20px;
    color: burlywood;
    background: none;
    border: none;
    cursor: pointer;
  }
  .Button2{
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .Button3{
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .Button4{
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .Button5{
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
}


/*Телефоны*/
@media only screen and (max-width: 1023px) {
  .MainContainer {
    background-color: mintcream;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 104px;
    grid-template-rows: auto auto auto auto auto auto auto auto; /*0.2 1 6 0.4*/
    grid-template-areas:
  "_1"
  "_2"
  "_3"
  "_4"
  "_5"
  "_6"
  "_7"
  "_8";
  }

  .DopImg {
    max-width: 100%;
    max-height: 1000%;
  }

  .TopText{
    grid-area: _1;
  }
  .AverageText{
    grid-area: _2;
  }
  .CenterImg{
    grid-area: _3;
  }

  .Text1{
    font-family: 'GT Cinetype Trial';
    text-align: center;
    font-size: 80px;
    color: #50735F;
  }
  .Text2{
    font-family: 'Linotype Didot Std';
    font-size: 90px;
    text-align: center;
    color: #50735F;
  }
  .DopImg{
    max-width: 100%;
    max-height: 100%;
  }
  .Button_1{
    grid-area: _4;
  }
  .Button_2{
    grid-area: _5;
  }
  .Button_3{
    grid-area: _6;
  }
  .Button_4{
    grid-area: _7;
  }
  .Button_5{
    grid-area: _8;
  }

  .Button1{
    font-size: 80px;
    color: burlywood;
    background: none;
    border: none;
    cursor: pointer;
  }
  .Button2{
    font-size: 80px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .Button3{
    font-size: 80px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .Button4{
    font-size: 80px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .Button5{
    font-size: 80px;
    background: none;
    border: none;
    cursor: pointer;
  }

}

/*Планшеты*/
@media only screen and (max-width: 1366px) and (max-height: 1024px){
  .MainContainer{
    background-color: mintcream;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "_1 _1 _1 _1"
      "_2 _2 _2 _2"
      "_3 _3 _3 _3"
      "_4 _5 _6 _7"
      "_8 _8 _8 _8";
  }

  .TopText{
    grid-area: _1;
  }

  .AverageText{
    grid-area: _2;
  }

  .CenterImg{
    grid-area: _3;
  }

  .Text1{
    font-family: 'GT Cinetype Trial';
    text-align: center;
    font-size: 30px;
    color: #50735F;
  }

  .Text2{
    font-family: 'Linotype Didot Std';
    font-size: 40px;
    text-align: center;
    color: #50735F;
  }

  .DopImg{
    max-width: 95%;
    max-height: 95%;
  }

  .Button_1{
    grid-area: _4;
  }

  .Button_2{
    grid-area: _5;
  }

  .Button_3{
    grid-area: _6;
  }

  .Button_4{
    grid-area: _7;
  }

  .Button_5{
    grid-area: _8;
  }

  .Button1, .Button2, .Button3, .Button4, .Button5{
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .Button1{
    color: burlywood;
  }
}
